@page "/accounts"
@inherits AppComponentBase;

<h3>AccountsPage</h3>

@if (_accounts is not null)
{
    @foreach(var account in _accounts)
    {
        <div>
            @account.Name
        </div>
    }
}

@if (_isNotAllowed)
{
    <div>
        Not Permitted
    </div>
}