@page "/login"
@inherits AppComponentBase;

<h3>LoginPage</h3>

<EditForm Model="_model" OnValidSubmit="ProcessValidSubmit">
    <DataAnnotationsValidator />
    <label>Email</label>
    <InputText @bind-Value="_model.Email"/>
    <label>Password</label>
    <InputText @bind-Value="_model.Password" type="password"/>
    
    <button>Login</button>
    <ValidationSummary />
    
    @if (_message is not null)
    {
        <div>@_message</div>
    }
</EditForm>