@page "/registration"
@using MyShop.SharedProject.DTOs
@using System.Net
@using MyShop.HttpApiClient

@inject NavigationManager _navigationManager
@inject IHttpApiClient _client

<h3>Registration</h3>

<EditForm Model="_model" OnValidSubmit="ProcessValidSubmit">
    <DataAnnotationsValidator />
    <div>
        <label>Имя</label>
        <InputText @bind-Value="_model.Name"/>
    </div>
    <div>
        <label>Email</label>
        <InputText @bind-Value="_model.Email"/>
    </div>
    <div>
        <label>Password</label>
        <InputText type="password" @bind-Value="_model.Password"/>
    </div>
    <div>
        <label>Repeat Password</label>
        <InputText type="password" @bind-Value="_model.RepeatPassword"/>
    </div>
    <div>@_responseString</div>
    <input type="submit" value="Sign up"/>
    <ValidationSummary />
</EditForm>

@code {
    private readonly AccountDto _model = new();

    private string _responseString = "";

    private async Task ProcessValidSubmit()
    {
        var response = await _client.RegisterAccount(_model);

        if (response.IsSuccessStatusCode)
        {
            _navigationManager.NavigateTo("/product");
        }
        else
        {
            _responseString = await response.Content.ReadAsStringAsync();
        }
    }

}